<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/institute.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{url_for('header_js',user=user)}}"></script>
        <script src="{{url_for('institute_js')}}"></script>
        <script src="{{url_for('main_js')}}" defer></script>
    </head>
    <body  id="body_insti">
        <div id="top-contribute">
            <div class="multiple_post" id="top_rect_insti">
                <div class="text4" id="top_text_insti">
                    Top Contributors
                </div>

                <ol class="text7" id="top_ol_insti">
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list2">
                        <a href="{{url_for('profile')}}">
                            <rect class="pfp_insti"></rect>
                            <div class="name_text_insti">
                                <div class="text7">
                                    Mechan
                                </div>
                            </div>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </body>
</html>