<!DOCTYPE html>
    <head>
        <title>Synergy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/start.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{url_for('start_js')}}"></script>
        <script src="{{url_for('main_js')}}"></script>
    </head>
    <body  id="body_start">
        <video id="video_start" autoplay muted loop>
            <source src="{{url_for('static', filename='data/animated_medium20210922-30429-v56486.mp4')}}" type="video/mp4">
            Browser does not support Animation
        </video>
        
        <rect id="rect_start1"></rect>
        <rect id="rect_start2"></rect>

        <img src="{{url_for('static', filename='data/logo.jpg')}}" id="logo_start">

        <div id="text_start1">
            Some Quotes type thing which we control by Java
        </div><br>

        <div id="text_start2">
            Let's Get Started
        </div><br>

        <div id="text_start6">
            Don't Have an account ?
        </div><br>

        <button id="button_start1" onclick="scroll_start()"  class="button1">
            <div id="text_start3" class="text1">
                Get Started
            </div>
        </button>
        
        <a href="{{url_for('loader2')}}">
            <button id="button_start3" class="button2">
                <div id="text_start5" class="text1">
                    Start Your Journey...
                </div>
            </button>
        </a>
        
        <div id="text_start7">
            Forgot Password ?
        </div>
        
        <form action="{{url_for('login_form')}}" method="post">
            <input id="inp_start1" placeholder="Username/Email address" class="form2" type="text" name="inp_start1"><br>
            <input id="inp_start2" placeholder="Password" class="form2" type="password" name="inp_start2"><br>    
            <button id="button_start2" class="button2" type="submit">
                <div id="text_start4" class="text1">
                    Log In
                </div>
                <rect id="rect_start5"></rect>
                <rect id="rect_start3"></rect>
                <rect id="rect_start4"></rect>
            </button>
        </form>

        <div id="forgot_start" class="{{'pop_up' if not show_forget}}">
            <div class="close_pop" id="close_pop_start">
                Close
            </div>
            <rect id="rect_start6" class="pop_up_grad">
                <rect id="rect_start7"></rect>
                <div id="text_start8" class="text9">
                    Forget Password
                </div>
                <rect id="rect_start8"></rect>
                <form action="{{url_for('login_otp_form')}}" method="post">
                    <input class="form1" id="email_start" type="text" placeholder="Enter Email Address" name="email_start"  value="{{otp_email}}">
                    <button class="button1" id="button_start4" type="submit" name="submit_button_start" value="submit_start2">
                        Login
                    </button>
                    <button class="button1" id="button_start5" type="submit" name="submit_button_start" value="submit_start1">
                        Send OTP
                    </button>
                    <input class="form1" id="otp_start" type="password" placeholder="Enter OTP" name="otp_start">
                </form>
                <div id="message_start2" class="error_message">{{message2}}</div>
            </rect>
        </div>

        <div id="message_start1" class="error_message">{{message1}}</div>
    </body>
</html>